.main{
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    align-items: center;
    height: calc(100vh-72px);
    margin-top:100px;
    
}

.main h1{
    font-weight: 800;
    line-height: 102px;
    font-size: 108px;
}

.main p{
    font-weight: 600;
    color: var(--gray);
}

.main-btn{
    display: flex;
    gap:40px;
}

.secondary-btn{
    background: transparent;
    color: var(--gray);
    border: 1px solid gray;
}

.shopping{
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 9px;
}

.main-icons{
    display: flex;
    gap: 16px;
}

button:hover {
    cursor: pointer;
}

